.grilla{
    display: grid;
    grid-template-columns: 10vw 10vw 60vw 10vw 10vh;
   

}

.header{
    grid-column: 1/7;
    display: flex;
    flex-wrap: nowrap;
   
}
.header img{
    width: 20vw;
}
.header h1{
    width: 60vw;
    display:flex;
    justify-content: center;
    align-items: center;
    display:flex;
    justify-content: center;
    align-items: center;

}
.headerLatereal{
    width: 20vw;
}


.lateralIzquierdo{
    grid-column: 1/3;
    background-color: greenyellow;
}
.lateralDerecho{
    background-color: greenyellow;
    grid-column: 4/7;
    
}

.main{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
  
   
   
}
.info{
    display: flex;
    justify-content: center;
   align-items: center;
    
}
.info p{
    display: flex;
    justify-content: center;
    width: 75vw;
    
    
  
    
   

}
.info img{
    width: 25vw;
    padding: 2%;
    border-radius: 10%;
}

.nav{
    grid-column: 1/7;
    display: flex;
    justify-content: center;
}
.footer{
    grid-column: 1/7;
    display: flex;
    
}


.barranegra{
    width: 70%;
    background-color: black;
 
}

.footer img{
    width: 30%;
    height: 25px;
    
    
}




@media (max-width: 768px){
    .header img{
        width: 0;
    }

    .headerLatereal{
        width: 0;
    }
    .header h1{
        width: 100vw;
    }

    .info{
        flex-direction: column;
    }

    .lateralDerecho{
        grid-column: 0/0;
    }
    .lateralIzquierdo{
        grid-column: 0/0;
    }
    .main{
        grid-column: 1/7;
    }
    .footer img{
        width: 0;
        height: 0;
        
        
    }
    
    .barranegra{
        width: 100%;
        height: 20vh;
     
    }
}
