

 




.contenedorPrincipal{
    display: grid;
    grid-template-columns: repeat(4,20vw)
}



.main{
    grid-column: 2/6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    border: 4px solid orange;

    padding-top: 10vh;
    
    
    
}


.main p{
    padding-bottom: 10vh;
}

.lateralizquierdo{
    grid-column: 1/2;
    height: 95vh;
 
    background-color: green;
  
   


}

.contenedorImg{
    width: 375px;
    display: flex;
    flex: none;
    flex-flow: row wrap;
   
    border: 4px solid blue;
    
}
.contenedorTriple{
    display: flex;
    width: 95px;
    flex: none;
    flex-flow: row wrap;
    
    
}
.contenedorTriple a{
display: flex;
width: 95px;
}




.barranegra{
    background-color: black;
  
}

.footer{
    display: flex;
    border: 4px solid yellow;
    grid-column: 1/6;
    
}

.barranegra{
    width: 70%;
 
}

.footer img{
    width: 30%;
    height: 25px;
    
    
}



  
  @media (max-width: 768px) {
    .lateralizquierdo{
        grid-column: 0/0;
        height: 0;
    }
   .main{
    grid-column: 1/6;
    height: 80vh;
   }
   .footer img{
    width: 0;
    height: 0;
    
    
}

.barranegra{
    width: 100%;
    height: 20vh;
 
}


  }
  

  
 
